@charset "utf-8";

$primary-bg-color: #242f9b;
$primary-text-color: #ffffff;
$input-font-color: #555555;
$error-color: #ff3333;
$element-width: 300px;
$margin-bottom: 25px;
$detail-height: 200px;
$button-width: 80px;
$button-height: 40px;
$border-radius: 5px;

.new-task {
  width: 100%;
  margin: 0 auto;

  .new-task-form {
    color: $input-font-color;
  }

  .new-task-select-list,
  .new-task-title,
  .new-task-detail {
    width: $element-width;
    margin-bottom: $margin-bottom;
  }

  .new-task-detail {
    height: $detail-height;
  }

  .new-task-button {
    background-color: $primary-bg-color;
    color: $primary-text-color;
    width: $button-width;
    height: $button-height;
    border-radius: $border-radius;
  }
}

.error-message {
  color: $error-color;
}

// メディアクエリでレスポンシブ対応
@media (max-width: 768px) {
  .new-task-select-list,
  .new-task-title,
  .new-task-detail {
    width: 100%;
  }

  .new-task-detail {
    height: auto;
  }

  .new-task-button {
    width: 100%;
    height: auto;
    padding: 10px 0;
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .new-task-select-list,
  .new-task-title,
  .new-task-detail {
    font-size: 0.9em;
  }

  .new-task-button {
    font-size: 12px;
    padding: 8px 0;
  }
}
